@CHARSET "UTF-8";
h3{text-align:center;
font-weight:bold;
}
body{
	background-image: url("../images/ps1.jpg");
	background-repeat:repeat;
	background-size:100%;
}
div{
	margin-top:17%;
	margin-left:40%;
	font-weight:bold;
	background:#CAFFFF;  
	border:1px solid #FFFFAA;
	border-radius:15px;
	width:25%;
	height:200px;
	text-align:center;
}