@CHARSET "UTF-8";
h1{color:blue;font:隶书  50px;text-align:center}
body{
	background-image: url("../images/ps0.jpg");
	background-repeat:repeat;
	background-size:100%;
}
.myform{
	margin-top:17%;
	margin-left:40%;
	font-weight:bold;
	/*background:#80FFFF;  */
	border:1px solid #FFFFAA;
	border-radius:15px;
	width:25%;
	height:200px;
	text-align:center;
	background:rgba(128,255,255,0.2);
}
.mydiv{
	margin-top:10%;
	}
.divtwo{
	color:pink;
	margin-top:70%;
	width:120%;
	
}
a{
	color:pink;
	text-decoration:none;
}